<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
  <link href="https://fonts.googleapis.com/css?family=Gruppo" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header id="menu">
    <div class="topnav" id="myTopnav">
      <a href="#home" class="active">
        <img class="logo" src="{% static "img/logo.png" %}">
        <p class="logo-mobile">Cafeteria Gato Preto</p>
      </a>
      <a href="car.html">Carrinho</a>
      <a href="#contact">Contato</a>
      <a href="#products">Produtos</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </header>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
  {% block content %}{% endblock %}
  
  <footer>
    <h3 class="text-center">Copyright &copy; 2018 Todos os direitos reservados</h3>
  </footer>
  
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>

</body>

</html>
